<div class="row">
    <div class="col-md-6">
        <form (ngSubmit)="save(f.value)" #f="ngForm">
            <div class="form-group">
                <label for="title">Title</label>
                <input id="title" #t="ngModel" required [(ngModel)]="product.title" name="title" type="text" class="form-control">
            
                <div class="alert alert-danger" *ngIf="t.touched && t.invalid">
                      Title is Required.
                </div>
            </div>

            <div class="form-group">
            
                <label for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                <input  [(ngModel)]="product.price" 
                 name="price" #p="ngModel" 
                 notNegative required 
                 id="price" 
                 type="number" 
                 class="form-control">
            </div>
            <div class="alert alert-danger" *ngIf="p.touched && p.invalid">
                <div *ngIf="p.errors?.notNegative">
                   Price can't be less than 1
                </div>
            
                <div *ngIf="p.errors?.required" >
                    Price is Required
                 </div>
            </div>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select #c="ngModel" required  [(ngModel)]="product.category"  name="category" id="category" class="form-control">
                  <option value=""></option>
                  <option *ngFor="let c of categories$" [value]="c.name">{{c.name}}</option>
                </select>
                <div class="alert alert-danger" *ngIf="c.touched && c.invalid">
                    Category is Required.
              </div>
            </div>
            <div class="form-group">
                <label for="imageUrl">ImageUrl</label>
                <input 
                [(ngModel)]="product.imageUrl" 
                name="imageUrl" 
                #iU="ngModel" 
                required 
                id="imageUrl" 
                type="text" 
                class="form-control">
            
                <div class="alert alert-danger" *ngIf="iU.touched && iU.invalid">  
                   <div *ngIf="iU.errors?.required">Url is Required</div>
              </div>
            </div>
            
            <input 
                type="submit" 
                value="Save" 
                class="btn btn-secondary" 
                [disabled]="f.invalid"
            >

            <button type="button" (click)="delete()" class="btn btn-danger" *ngIf="product.id">Delete </button>
        </form>
    </div>


    <!----Rendring Product -->
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
            <img [src]="product.imageUrl" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">{{product.title}}</h4>
                 <p class="card-text">{{product.price| currency:'USD':'symbol-narrow':'2.2-2'}}</p>
            </div>
          </div>
    </div>

 
</div>





