
<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">Add Product</a>
</p>

<p>
    <input 
    type="text"
    class="form-control"
    placeholder="Search..."
    #query
    (keyup)="filter(query.value)"
    />
</p>


<table class="table">
    <thead>
        <tr>
            <td>Title</td>
            <td>Price</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredProducts">
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td><a class="btn btn-link" [routerLink]="['/admin/products/', p.id]">Edit</a></td>

        </tr>
    </tbody>
</table>


