<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">GShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/shop-cart">Shopping Cart</a>
        </li>
    
          <li class="nav-item dropdown" *ngIf="appUser$ as user; else annonymousUser" ngbDropdown >
            <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user.name}}
            </a>
            <div class="dropdown-menu" ngbDropdownMenu  aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/my-order" ngbDropdownItem>My Orders</a>
              <ng-container *ngIf="user.isAdmin">
              <a class="dropdown-item"  routerLink="/admin/orders"  ngbDropdownItem>Manage Orders</a>
              <a class="dropdown-item" routerLink="/admin/products" ngbDropdownItem>Manage Products</a>
            </ng-container>
              <a class="dropdown-item" ngbDropdownItem (click)="logOut()">Log Out</a>
            </div>
          </li>
<ng-template #annonymousUser>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ng-template>
      </ul>
    </div>
  </nav>
